// --------------------------------------------------------------
// Copy this file to config.ts and edit with your data.
// You need to create a new bot with @BotFather, and copy here
// the token and the name of the command you have assigned to it.
// --------------------------------------------------------------

// @yourname_bot
// https://t.me/yourname_bot
export const token = "1234567890abcdefghijklmnopqrstuvwxyz";

export const directoryCommand = "directory";
export const directoryCommandDesc = "Directory of the resources of you organization";
export const editCommand = "edit";
export const editCommandDesc = "Edit directory";

export const menus = {
  "main": {
    id: "main",
    title: "This is the main menu",
    groupTitle: null,
    isDefault: true,
    entries: [
      {text: "Submenu 1", menu: "submenu_1", url: null},
      {text: "Submenu 2", menu: "submenu_2", url: null},
    ],
  },
  "submenu_1": {
    id: "submenu_1",
    title: "This is the first submenu",
    groupTitle: null,
    isDefault: false,
    entries: [
      {text: "Web", menu: null, url: "http://www.example.com"},
      {text: "Facebook", menu: null, url: "https://facebook.com/example"},
      {text: "Twitter", menu: null, url: "https://twitter.com/example"},
      {text: "[Return to main menu]", menu: "main", url: null},
    ],
  },
  "submenu_2": {
    id: "submenu_2",
    title: "This is the second submenu",
    groupTitle: null,
    isDefault: false,
    entries: [
      {text: "Other web", menu: null, url: "https://other.example.com"},
      {text: "Nested submenu", menu: "nested_submenu", url: null},
      {text: "[Return to main menu]", menu: "main", url: null},
    ],
  },
  "nested_submenu": {
    id: "nested_submenu",
    title: "This is a nested submenu",
    groupTitle: null,
    isDefault: false,
    entries: [
      {text: "Some private Telegram group", menu: null, url: "https://t.me/joinchat/ABCDEFGHIJKLMNOPQRSTUVWXYZ"},
      {text: "Some public Telegram group", menu: null, url: "https://t.me/PUBLIC-GROUP-NAME"},
      {text: "[Return to submenu 2]", menu: "submenu_2", url: null},
    ],
  },
  "special_menu": {
    id: "special_submenu",
    title: "This is a menu specific for one telegram group",
    groupTitle: "My Group Name",
    isDefault: true,
    entries: [
      {text: "Private web", menu: null, url: "https://my-group.example.com"},
      {text: "Other private Telegram group", menu: null, url: "https://t.me/joinchat/2ABCDEFGHIJKLMNOPQRSTUVWXYZ"},
      {text: "[Return to main menu]", menu: "main", url: null},
    ],
  },
}

